%section
  / hire with confidence starts here
  .wrapper
    .container
      .row
        .col-sm-10
          .content-section
            %h3 MBA Sign Up
            %p
              = link_to "Company Sign Up", new_company_registration_path 
            %p Sign up with Email and Password
            %p
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                = devise_error_messages!
                .form-group
                  .field
                    = f.label :name
                    = f.text_field :name, autofocus: true, placeholder: 'Enter Name', class: 'form-control'
                  %br/
                  .field
                    = f.label :zip
                    = f.text_field :zip, placeholder: 'Enter zip', class: 'form-control'         
                  %br/
                  .field
                    = f.label :school
                    = f.text_field :school, placeholder: 'Enter School', class: 'form-control'
                  %br/
                  .field
                    = f.label :degree
                    = f.collection_select :degree, Degree.active, :id, :degree
                  %br/
                  .field.select_industries
                    = f.label :industries
                    %br/
                    = f.collection_select :industry_ids, Industry.active, :id, :industry, {}, {:multiple => true}
                  %br/
                  .field
                    = f.label :email
                    = f.email_field :email, placeholder: 'Enter Email', class: 'form-control'
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation? 
                    %div
                      Currently waiting confirmation for: 
                      = resource.unconfirmed_email
                  %br/
                  .field
                    = f.label :password
                    = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
                  %br/
                  .field
                    = f.label :password_confirmation
                    = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation name', class: 'form-control'
                  %br/
                  .actions
                    = f.submit "Save", class: "btn btn-default"
              = render partial: 'shared/disclaimer_note' 
