%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h2 Forgot your password?

              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                = devise_error_messages!

                = f.label :email
                = f.email_field :email, autofocus: true

                = f.submit "Reset Password"

              = render "devise/shared/links"
