%section.banner-container
  / banner starts here
  = image_tag('banner-image2.png', alt:'banner-image2')
  .wrapper
    .banner-overlay-outer
      .banner-overlay
        .overlay-inner
          %h2 The Next Evolution in Consulting
          %p Linking Companies in Need With MBAs at a Reasonable Rate.
          .button-area
            = link_to 'Find a Project', project_link_path('worker'), class: :green_btn
            = link_to 'Post a Project', project_link_path('company'), class: :green_btn
%section.work-outer
  / how mba works starts here
  .wrapper
    .container
      .row
        .col-sm-5.pull-right
          .work-right
            %a{:href => "#"}
              = image_tag('computer.png', alt:'copmputer-image')
        .col-sm-7
          .work-left
            %h3 How BeMyMBA Works
            %p With the cost of hiring top talent continuing to rise, we offer an equitable solution on a consulting or project basis. At BeMyMBA, we connect companies in need with MBAs at a reasonable rate. From start-ups with a dream to Fortune 500’s with complex challenges, BeMyMBA has a solution. Companies simply post projects, MBAs bid on them and companies select the best candidate. All funds are securely held until the project is complete. 
            %h3 How it Works
            %ul
              %li Companies post detailed projects with an opening bid
              %li MBAs bid on projects that match their strengths
              %li Companies select the winner based on an evaluation of skills, experience, BeMyMBA Grade and price
              %li Work is completed via BeMyMBA platforms and payment is transferred to the MBA

        .col-sm-12
          %p 
            %strong It’s that simple! 
            All of the MBAs’ credentials are thoroughly vetted and confirmed prior to becoming authorized to use the site. Similarly, all project payments are deposited prior to any work being performed. This way you can trust that you’re getting exactly what you expect.

          %p Additionally, all companies and MBAs are reviewed at the completion of a project. This translates into our proprietary BeMyMBA Grade – this way you can confidently make decisions on whom to work with. As we grow, we will be incorporating many more features to make the MBA and Business interaction easier and faster. BeMyMBA is the next evolution of consulting – join us as we take business into the future and change the world.
%section.hire-confidence
  / hire with confidence starts here
  .wrapper
    .container
      .row
        .col-sm-6
          .content-section
            %h3 Hire with confidence
            %p
              All MBAs are thoroughly vetted by the BeMyMBA staff. They are also continuously evaluated and ranked based on customer feedback allowing our clients to make intelligent decisions when selecting the right candidate. 
            %blockquote
              %p
                %strong Review by Ethan Cross, Findlay, Ohio
              %p
                %strong Project: Start-Up Market Analysis
                We could have never launched without the help of our MBA – BeMyMBA made it easy and affordable!
            .rating-star
              %a{:href => "#"}
                = image_tag('green-star.png', alt:'image')

              %span Nov. 8, 2014
        .col-sm-6
          .image-block
            %ul
              %li
                = image_tag('list-img1.png', alt:'image')
              %li
                = image_tag('tick-mark1.png', alt:'image')
              %li
                = image_tag('list-img2.png', alt:'image')
              %li
                = image_tag('list-img3.png', alt:'image')

%section.news-outer
  / news and blog starts here
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h3 About BeMyMBA
              %p Like many MBA students, I was looking for ways to put my skills to use, gain experience and earn some extra cash in the process. I found a few freelance consulting options, but none were quite the right fit. I talked to colleagues and classmates and they all had a similar response. I told myself that there has to be a better way. Then it dawned on me – why not create it myself!
              %p
                = image_tag('interior-img.jpg', alt: 'img')
                So, with the help of some really smart people, we launched BeMyMBA - an online marketplace where companies – big and small – post consulting and project work to be bid on by MBAs around the world. All at an economical cost. 

              %p Our flexible framework provides secure virtual work platforms that are easy to use. Whether you're in Boston or Cape Town, we can quickly connect you to the help and opportunity you need. 

              %p After a recent trip to South Africa our hearts had been changed and our model responded. A BRICS country that only gained their independence about 20 years ago, they are fiercely fighting to grow small business. BeMyMBA is fully committed to helping take ideas to inception and being a part of one of the most inspirational movements in the world of business. Through modern day technology and a little effort, we can help revolutionize an economy.

              %p BeMyMBA is the next evolution of consulting – join us as we take business into the future and change the world.

              