%section.banner-container
  / banner starts here
  = image_tag('banner-image2.png', alt:'banner-image2')
  .wrapper
    .banner-overlay-outer
      .banner-overlay
        .overlay-inner
          %h2 Find Your Business Professional
          %p Lorem ipsum dolor sit amet, consectetur adip iscing elitt, sed do eiusmod tempor incididunt ut labore et aliqua.
          .button-area
            %a.green_btn{:href => "#{new_company_session_path}"} Find MyMBA
            %a.green_btn{:href => "#{new_company_registration_path}"} List Your Business
%section.work-outer
  / how mba works starts here
  .wrapper
    .container
      .row
        .col-sm-5.pull-right
          .work-right
            %a{:href => "#"}
              = image_tag('computer.png', alt:'copmputer-image')
        .col-sm-7
          .work-left
            %h3 How BeMyMBA Works
            %p With the cost of hiring top talent continuing to rise, we offer an equitable solution on a consulting or project basis. At BeMyMBA, we connect companies in need with MBAs at a reasonable rate. From start-ups with a dream to Fortune 500’s with complex challenges, BeMyMBA has a solution. Companies simply post projects, MBAs bid on them and companies select the best candidate. All funds are securely held until the project is complete. 
            %ul
              %li High Output
              %li Low Cost
              %li Simple Secure Process
            %p Sign up today and let us show you how we are the next evolution of consulting.
            %a.green_btn{:href => "#"} Learn More Now
%section.connect-with-customers
  / connect with customers starts here
  .wrapper
    .container
      .row
        .col-sm-12
          .section-top
            .section-left
              %h3 Increase your earning potential
              %p Are you an MBA or an alum? Find out how BeMyMBA can help you earn extra income by putting your skills to work.
            .section-right
              %a.green_btn{:href => "#"} Sign up Today
          .slider-block
            %ul.bxslider
              %li
                = image_tag('slider-img4.png', alt:'image')
              %li
                = image_tag('slider-img3.png', alt:'image')
              %li
                = image_tag('slider-img2.png', alt:'image')
              %li
                = image_tag('slider-img1.png', alt:'image')
              %li
                = image_tag('slider-img4.png', alt:'image')
              %li
                = image_tag('slider-img3.png', alt:'image')
              %li
                = image_tag('slider-img2.png', alt:'image')
              %li
                = image_tag('slider-img1.png', alt:'image')
%section.hire-confidence
  / hire with confidence starts here
  .wrapper
    .container
      .row
        .col-sm-6
          .content-section
            %h3 Hire with confidence
            %p
              All MBAs are thoroughly vetted by the BeMyMBA staff. They are also continuously evaluated and ranked based on customer feedback allowing our clients to make intelligent decisions when selecting the right candidate. 
            %blockquote
              %p
                %strong Review by Ethan Cross, Findlay, Ohio
              %p
                %strong Project: Start-Up Market Analysis
                We could have never launched without the help of our MBA – BeMyMBA made it easy and affordable!
            .rating-star
              %a{:href => "#"}
                = image_tag('green-star.png', alt:'image')

              %span Nov. 8, 2014
        .col-sm-6
          .image-block
            %ul
              %li
                = image_tag('list-img1.png', alt:'image')
              %li
                = image_tag('tick-mark1.png', alt:'image')
              %li
                = image_tag('list-img2.png', alt:'image')
              %li
                = image_tag('list-img3.png', alt:'image')

%section.news-outer
  / news and blog starts here
  .wrapper
    .container
      .row
        .col-sm-12
          .block-container
            .each-block-outer.blog
              .each-block
                %h4 Buzzworthy Blog
                .block-content-outer
                  %ul
                    - @blog[0,3].each do |post|
                      %li
                        .block-image
                          .block-img-inner
                            = image_tag(blog_img(post.file_url), alt:'photo')
                            %a{:href => "#"} Read More
                        .block-inner-content
                          %h6
                            = post.title
                          %p
                            = truncate(post.body, length: 110)
                          %span
                            =# post.created_at.strftime('%Y-%m-%d %H:%M')
                          
            .each-block-outer.News
              .each-block
                %h4 Latest News
                .block-content-outer
                  %ul
                    - @twitter[0,3].each do |tweet|
                      - time = tweet.created_at
                      %li
                        .block-image
                          .block-img-inner.date-details
                            = time.strftime('%b')
                            %span
                              = time.strftime('%d')
                        .block-inner-content
                          %p
                            = tweet.text
                          %a{:href => "#"} Read More >
            .each-block-outer.informations
              .each-block
                %h4 Additional Information
                .block-content-outer
                  %ul
                    %li
                      .block-image
                        .block-img-inner
                          = image_tag('info-tick-mark.png', alt:'photo')                          
                      .block-inner-content
                        %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit, sed do eiusmod tempor incididunt ut dogy labore et dolore magna aliqua.
                        %a{:href => "#"} Read More >
                    %li
                      .block-image
                        .block-img-inner
                          = image_tag('info-tick-mark.png', alt:'photo')
                      .block-inner-content
                        %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit.
                        %a{:href => "#"} Learn More >
                    %li
                      .block-image
                        .block-img-inner
                          = image_tag('info-tick-mark.png', alt:'photo')                          
                      .block-inner-content
                        %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit.
                        %a{:href => "#"} See All >
