%footer.footer-outer
  .wrapper
    .container
      .row
        .col-sm-12
          .footer-inner
            %a{:href => "/"}
              = image_tag 'footer-logo.png', alt: 'logo'
            - if either_user_signed_in?
              = link_to 'Log Out', worker_signed_in? ? destroy_worker_session_path : destroy_company_session_path
              = link_to 'Dashboard', welcome_path
            - else
              = link_to 'Log In', new_worker_session_path
              = link_to 'Register', new_worker_registration_path


          .footer-inner
            %h5 Quick Links
            %ul
              %li
                = link_to 'How it Works', '/#how_it_works'
              %li
                = link_to 'About', '/#about_us'
              %li
                = link_to 'News', news_path
              %li
                = link_to 'Contact', contacts_path
          .footer-inner
            %h5 Contact Us
            %ul
              %li
                %a{:href => "15674551098"} +1 (567) 455.1098 
              %li
                %a{:href => "#"} Sylvania, Ohio
          .footer-inner.social-icons
            %h5 Stay Connected
            %ul
              %li.fb
                = link_to 'Like us on Facebook', 'https://www.facebook.com/bemymba', target: '_blank'
              %li.tweet
                = link_to 'Follow us on Twitter', 'https://twitter.com/BeMyMBA', target: '_blank'
              %li.info
                = link_to 'LinkedIn', 'https://www.linkedin.com/company/be-my-mba', target: '_blank'
          .footer-inner
            %h5 Terms of Us
            %ul
              %li
                %a{:href => "#{policy_path('policy_privacy')}"} Privacy Policy
              %li
                %a{:href => "#{policy_path('policy_fee')}"} Fee Policy
              %li
                %a{:href => "#{policy_path('policy_service')}"} Service Contract Policy
              %li
                %a{:href => "#{policy_path('policy_terms')}"} Terms of Service

  .slider-test
