.top_line
.header
  #header_left.header_box.left
    = image_tag 'logo_two.png'
  #header_right.header_box.left
    #login_help.right
      .right
        = link_to 'Log In'
        | 
        = link_to 'Register'
      .clear
      .right 
        Have questions? 555-555-5555 or email 
        = link_to 'info@bemymba.com'
    %br    
    %br    
    %br    
    #main_nav.right
      = link_to 'How it Works', '#' 
      |
      = link_to 'About', '#' 
      |
      = link_to 'News', '#' 
      |
      = link_to 'Contact', '#'
