%header#header{:role => "banner"}
  .header-outer
    .wrapper
      .container
        .row
          .col-sm-12
            .header-inner
              .header-logo
                %a{:href => "/"}
                  = image_tag('header-logo.png', alt: 'logo')
              .header-right
                .right-top
                  .log-in
                    %ul
                      %li
                        - if worker_signed_in?
                          = link_to 'Log Out', destroy_worker_session_path
                        - else
                          = link_to 'Log In', new_worker_session_path
                      %li
                        = link_to 'Register', new_worker_registration_path
                  %p
                    Have questions?
                    %a{:href => "+1 (567) 455.1098"}
                      +1 (567) 455.1098</a href="#"> or email
                      %a{:href => "mailto:info@bemymba.com"} info@bemymba.com</a href="#">
                .right-bottom
                  %ul
                    %li
                      = link_to 'How it Works', how_it_works_path
                    %li
                      = link_to 'About', about_us_path
                    %li
                      = link_to 'News', news_path
                    %li
                      = link_to 'Contact', contact_path
